streamlit 
streamlit-chat
streamlit_option_menu
openai
python-dotenv

datasets
qdrant-client
sentence-transformers
tiktoken
langchain
langchain-openai
jsonpointer
qdrant-client[fastembed]

pandas

bitsandbytes
peft
accelerate
trl
tqdm
fastembed
orjson
requests
